.body {
  position: absolute;
  top: 10%;

  height: 85%;
  width: 100%;

  transition-duration: 2s;
}

.about {
  height: 100%;
  width: 100%;

  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.about p {
  width: 75%;
}


.skills {
  height: 100%;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: center;

  background: green;
}

.gallery {
  padding-top: 1rem;

  height: 100%;
  width: 100%;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery iframe {
  height: 40%;
  width: 40%;
}
