.body {
  position: absolute;
  top: 10%;

  height: 85%;
  width: 100%;
}

.about {
  height: 100%;
  width: 100%;

  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;

  border: 1px solid red;
}

.about p {
  width: 75%;
}


.skills {
  height: 100%;
  width: 100%;

  border: 1px solid red;
}

.gallery {
  height: 100%;
  width: 100%;

  border: 1px solid red;

  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
