.body {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;

  transition-duration: 1s;
}

.home {
  height: 100%;
  width: 100%;

  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home h1, .home h3, .home p {
  margin: .5rem;

  width: 65%;

  color: rgba(255, 255, 255, 1);
  text-shadow: -.07rem -.07rem 0 #000,
                .07rem -.07rem 0 #000,
               -.07rem  .07rem 0 #000,
                .07rem  .07rem 0 #000; 
}

.home p {
  font-weight: 600;
  text-align: justify;
}

.skills {
  height: 100%;
  width: 100%;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  background: #7f8c8d;
}

.skills > div {
  height: 10%;
  width: 50%;
  
  background: linear-gradient(to left, #4b6cb7 , #182848);
  box-shadow: -.15rem .15rem .5rem .25rem white;

  overflow: hidden;
  transition-duration: 1s;
}

.skills > div > h1 {
  margin: 0;
  padding: 0;
}

.skills div ul {
  visibility: hidden;
}

.skills div:hover {
  flex-grow: .35;
}

.skills div:hover ul {
  visibility: visible;
}

/* Gallery Start */
iframe {
  padding-right: 2.5rem;
  height: 100%;
  width: 100%;

  opacity: 0.95;
}

#slider {
  position: absolute;
  top: 210%;
  height: 90%;
  width: 100%;
}

#selector {
  position: fixed;
  bottom: 0;
  
  height: 10%;
  width: 100%;
  
  align-items: center;
  display: flex;
  justify-content: center;
}

#selector a {
  margin: 1rem;
  
  color: black;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  
  transition: 1000ms;
}

#selector a:hover {
  transform: scale(1.5, 1.5);
}

#selector a:focus {
  transform: scale(1.5, 1.5);
}

/* Side Animation */
.slide-enter {
  opacity: 0.01;
  transform: scale(0,0);
}

.slide-enter-active {
  opacity: 1;
  transform: scale(1,1);
  transition: all 10000ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: all 10000ms ease-in;
}