.footer {
  position: absolute;
  top: 95%;
  z-index: 1;

  align-items: center;
  display: flex;
  justify-content: space-around;

  height: 5%;
  width: 100%;

  background: rgba(127, 140, 141, .5);
  box-shadow: 0rem 0rem 1rem white;
}