#footer {
  position: fixed;
  bottom: 0;
  z-index: 1;

  align-items: center;
  display: flex;
  justify-content: space-around;

  height: 10%;
  width: 100%;
}

#code, #selector, #social {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#selector a {
  margin: 0 1rem 0 1rem;

  height: 2rem;
  width: 2rem;

  background: rgba(127, 140, 141, .25);
  border: .05rem solid rgba(127, 140, 141, .25);
  border-radius: 50%;
  
  transition-duration: 1000ms;
}

#selector a:hover, #selector a:focus {
  transform: scale(1.5, 1.5);
  border: .05rem solid rgba(0, 0, 0, 1);
}

#footer img {
  margin: 0 1rem 0 1rem;

  height: 2rem;
  width: 2rem;
}

