.header {
  position: absolute;

  align-items: center;
  display: flex;
  justify-content: space-around;

  height: 10%;
  width: 100%;

  background: rgba(44, 62, 80, .5);
}

.header p {
  margin: 0;

  font-weight: 700;
}

.header a {
  padding: 1rem;
}
