@import url(header.css);
@import url(footer.css);
@import url(body.css);

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background: black;
  color: white;
  font-size: 3vmin;
}

.link {
  display: flex;
  list-style-type: none;
}

.link li {
  padding: .75rem;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: 0em 0em 1em #d35400;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
